.conth {
    margin: 15px 32px;
    color: rgb(36, 36, 36);
    margin-bottom: 0;
}

.contact {
    box-shadow: 2px 3px 7px 0px rgb(218, 218, 218);
    /* background-color: rgb(244, 244, 244); */
    /* background-color: rgb(60, 60, 72); */
    background-color: rgb(255, 255, 255);
    width: 75%;
    margin: 40px auto;
    padding: 16px 5px;
    font-size: 25px;

}

.aaa {

    width: 95%;
    margin: 40px auto;
    /* width: 100%; */
    /* margin: 40px auto; */
    display: flex;
    /* flex-wrap: wraps; */
}

.inp {
    background-color: transparent;
    width: 100%;
    padding: 9px 10px;
    justify-content: center;
    /* text-align: center; */
    font-size: 15px;
    /* border-radius: 7px; */
    /* border-style: solid; */
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    /* background-color: rgb(228, 171, 171); */
    color: rgb(0, 0, 0);

}

.subm {
    /* background-color: rgb(32, 32, 34); */
    background-color: rgb(211, 126, 14);
    /* background-color: rgb(34, 34, 34); */
    color: white;
    border-radius: 7px;
    border: none;
    font-size: 16px;
    /* width: 100%; */
    margin-top: 10px;
    padding: 11px 33px;
}

.divinp {
    margin: 10px auto;
    width: 80%;
}

.imgsal {
    width: 350px;
}

.form {
    width: 600px;
    /* width: 150%; */
    padding: 0px 0px;
}

.labl {
    font-size: 18px;
    color: white;
}

@media(max-width: 678px) {

    
    .imdiv {
        display: none;
    }
    
    .contact {
        box-shadow:2px 3px 7px 0px rgb(218, 218, 218);
        /* background-color: rgb(244, 244, 244); */
        background-color: rgb(255, 255, 255);
        width: 95%;
        margin: 40px auto;
        font-size: 25px;
        
    }
    
    .conth {
        color: rgb(36, 36, 36);
        margin: 15px 15px;
        margin-bottom: 0;
        font-size: 40px;
    }
    .form {
        width: 100%;
        /* width: 150%; */
        padding: 0px 0px;
    }
    .divinp {
        margin: 10px auto;
        width: 100%;
    }
}