.skill {
    /* border: 1px solid black; */
    width: 90%;
    margin: 2px auto;
}

.ss {
    color: rgb(27, 33, 44);
    margin: 2px 135px;
    font-size: 50px;
    /* font-size: 3.5rem; */
}

.skillh {
    color: rgb(56, 56, 56);
    text-align: center;
    font-size: 150%;
    margin-bottom: 40px;
}

.sk {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 17px;
    margin: 6px 0;
}

.skillitem {
    box-shadow: 2px 3px 3px 0px rgb(213, 213, 213);
    background: rgb(255, 255, 255);
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    width: 200px;
    height: 250px;
}

.skillitem:hover {
    box-shadow: 5px 5px 6px 0px rgb(224, 224, 224);
}

.skillitemm {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: center;
    margin: 50px;
}

@media(max-width: 830px) {


    .skillitem {
        box-shadow: 2px 2px 3px 0px rgb(213, 213, 213);
        background: rgb(255, 255, 255);
        margin: 20px;
        /* width: 60%; */
        /* height: 100%; */
    }

    .skillh {
        color: rgb(36, 36, 36);
        text-align: center;
        font-size: 100%;
        margin-bottom: 40px;
    }

    .ss {
        color: rgb(35, 35, 35);
        margin: 2px 40px;
        /* font-size: 3.5rem; */
        font-size: 30px;
    }

    .skillitemm {
        display: flex;
        flex-wrap: wrap;
        width: 99%;
        margin: 0;
        margin-right: 0;
        justify-content: center;
    }
}

@media(max-width: 630px) {

    .skill {
        /* border: 1px solid black; */
        width: 99%;
        margin: 2px auto;
    }

    .ss {
        color: rgb(35, 35, 35);
        margin: 30px 30px;
        font-size: 45px;
        /* margin-bottom: 30px; */
        /* font-size: 3.5rem; */
    }

    .skillitem {
        box-shadow: 2px 2px 3px 0px rgb(213, 213, 213);
        background: rgb(255, 255, 255);
        border-radius: 10px;
        width: 85%;
        margin: 8px;
        padding: 28px;
        height: 100%;

    }
}